$mainColorGreen: #9BE7D8;
$mainColorYellow: #FFE888;
$mainColorRed: #FFC5C5;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    font-family: '微軟正黑體', sans-serif;
    //讓 ff fi不連在一起
    font-feature-settings: "liga" 0; 
}

body{
    background-color: #fff;
    // user-select: none;
}
a:focus {
    outline: none;
}
ul{
    list-style-type: none;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.drop-shadow {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3))
}

.phone-appear{
    display: none;
}
.op0{
    opacity: 0;
}

html,body{
    overflow-y: scroll;
}

.container{
    // background-color: rgb(172, 172, 172);
    max-width: 1920px;
    // position: relative;
    margin: 0 auto;
}

.block-fixed{
    position: fixed;
    width: 100%;
    max-width: 1920px;
    z-index: 99;
    img{
        &:first-child{
            margin: 2%;
            width: 12%;
        }
        &:nth-child(2),&:nth-child(3){
            width: 3%;
            position: absolute;
            right: 0%;
            top: 10%;
            margin: 2%;
        }
    }   
}
.block-fixed-right{
    position: absolute;
    right: 3%;
}
.page-mark{
    border-left: 2px solid #fff;
    padding-left: 8px;

}

.block-top{
    background-image: url(../../img/TIHO_Web_Ingredient-47.png);
    // height: 1240px;
    background-size: 100%;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    
}
.time-count{
    ul>li{
        display: inline-block;
        margin: 8% 2% 2%;
        font-size: 2rem;
        text-align: center;
    }
    span{
        letter-spacing: 1.4rem;
    }
    p{
        font-size: 1.2rem;
    }
}
.large-img{
    position: relative;
    .floating-word{
        // background-image: url(../../img/TIHO_Web_Ingredient-11.png);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-x: center;
        height: 1600px;
        img{
            left: 50%;
            width: 100%;
            top: -20%;
            &:nth-child(1){
                animation: float1 9s 0s infinite both;
            }
            &:nth-child(2){
                animation: float2 7s 0s infinite both;
            }
            &:nth-child(3){
                animation: float2 8s 0s infinite both;
            }
            &:nth-child(4){
                animation: float1 6s 0s infinite both;
            }
        }
    }
    img{
        position: absolute;

    }
    .ingredient img{
        left: 0;
        width: 100%;
        bottom: 50%;
        height: 110%;
    }
}
.dental-text{
    position: absolute;
    top: 25%;
    right: 11%;
    letter-spacing: 1.6rem;
    font-size: 2rem;
    font-weight: 900;
    span{

    }
}
.yellow{
    color: $mainColorYellow
}
.green{
    color: $mainColorGreen
}
.red{
    color: $mainColorRed
}

.video{
    text-align: center;
    max-width: 1920px;
    height: 1680px;
    background-color: #FDF4E7;
    background-attachment: fixed;
}
.video-opening{
    width: 100%;
    position: relative;
    // background-color: #FDF4E7;
    height: 800px;
    &>img{
        width: 100%;
        left: 0;
        top: -70%;
        position: absolute;
        background-position-y: 561px;
    }
    h2{
        position: fixed;
        top: 50%;
        right: 50%;
        font-size: 1.8rem;
        border-bottom: 1px solid #000;
        opacity: 0.2;
    }
}
.opening-word-div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-47%);
    img{
        opacity: 0;
        // animation: fInOut 1.2s 0.2s 1 both;
    }
}



@media (max-width:1680px){
    .large-img{
        .floating-word{
            img{
                top: -10%;
            }
    }
    }
}
@media (max-width:1280px){
    
}
@media (max-width:1024px){
    
}
@media (max-width:768px){
    .phone-appear{
        display: initial;
    }
    .non-phone-appear{
        display: none;
    }
}
@media (max-width:640px){
}
@media (max-width:512px){
    
}

@keyframes fInOut{
    0%,100%{
        opacity: 0;
    }
    25%,75%{
        opacity: 1;
    }
}
@keyframes float1{
    0%,50%,100%{
        opacity: 1;
        transform: translate(-50%,-3%);
    }
    25%,75%{
        opacity: 1;
        transform: translate(-50%,3%);
    }
}
@keyframes float2{
    0%,50%,100%{
        opacity: 1;
        transform: translate(-50%,-5%);
    }
    25%,75%{
        opacity: 1;
        transform: translate(-50%,5%);
    }
}