$mainColorGreen: #9be7d8;
$mainColorYellow: #ffe888;
$mainColorRed: #ffc5c5;
$logoWidth: 180px;
$burgerLeft: 92vw 1600px;
$burgerMenuLeft: 75vw 1260px;
$bgDeep: #636c80;
$bgLight: #d4e4e7;
$bgSkin: #fdf4e7;
%bgi {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; // font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {
  font-family: '微軟正黑體', sans-serif; //讓 ff fi不連在一起
  font-feature-settings: 'liga' 0;
}

body {
  background-color: #fff; // user-select: none;
}

a:focus {
  outline: none;
}

a:visited,
a:link {
  text-decoration: none;
  color: #000;
}

.h-cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.drop-shadow {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.phone-appear {
  display: none;
}

.op0 {
  opacity: 0;
}

.op4 {
  opacity: 0.4;
}

html,
body {
  overflow-y: scroll;
}

.container {
  background-color: $bgSkin;
  max-width: 1680px;
  margin: 0 auto;
  color: #404d61;
}

.block-fixed {
  position: fixed;
  max-width: 1680px;
  z-index: 99;
  > img {
    &:first-child {
      margin: 10%;
      width: nth($logoWidth, 1);
    }
    &:nth-child(2),
    &:nth-child(3),
    &.close-btn {
      width: nth($logoWidth, 1) / 3- 10px;
      position: absolute;
      left: nth($burgerLeft, 1);
      margin: 2%;
      top: 20%;
    }
  }
}

#menu {
  display: none;
}

.menu {
  ul {
    top: 0;
    left: nth($burgerMenuLeft, 1);
    width: 25vw;
    position: absolute;
    background-color: #fff;
    height: 100vh;
    text-align: center;
  }
  li {
    padding: 5vh 0 2.5vh;
  }
}

.lang {
  border-top: 1px solid #000;
  margin-top: 6vh;
  line-height: 4vh;
  a {
    opacity: 0.4;
    padding: 0 0.5vw;
  }
}

.join {
  position: absolute;
  top: 91vh;
  opacity: 0;
  left: 50vw;
  transform: translateX(-50%);
  img {
    &:first-child {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      top: -15px;
      animation: float5 4s 0s infinite both;
    }
    &:nth-child(2) {
      animation: lighterShowing 4s 0s infinite both;
    }
  }
}

.block-fixed-right {
  position: absolute;
  right: 3%;
  span {
    opacity: 0;
    color: rgb(140, 140, 140);
  }
}

.page-mark {
  border-left: 4px solid #fff;
  padding-left: 8px;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.block-top {
  background-image: url(../../img/TIHO_Web_Ingredient-67-1.png);
  background-size: 100%;
  background-repeat: no-repeat; // background-attachment: fixed;
  text-align: center;
  height: 100vh;
  position: relative;
  background-position-y: 100%;
}

.time-count {
  ul > li {
    display: inline-block;
    margin: 8% 2% 2%;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(140, 140, 140);
    &:last-child {
      padding-left: 3%;
      border-left: 1px solid rgb(140, 140, 140);
    }
  }
  h4 {
    letter-spacing: 0.2rem;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  p {
    font-size: 1.2rem;
    font-weight: 100;
  }
}

.large-img {
  position: relative;
  .floating-word {
    // background-image: url(../../img/TIHO_Web_Ingredient-11.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    height: 1600px;
    img {
      left: 50%;
      width: 100%;
      top: -15%;
      &:nth-child(1) {
        animation: float1 9s 0s infinite both;
      }
      &:nth-child(2) {
        animation: float2 7s 0s infinite both;
      }
      &:nth-child(3) {
        animation: float2 8s 0s infinite both;
      }
      &:nth-child(4) {
        animation: float1 6s 0s infinite both;
      }
    }
  }
  img {
    position: absolute;
  }
  .ingredient img {
    left: 50%;
    width: 100%;
    max-width: 1680px;
    bottom: 0%;
    height: 20%;
    position: fixed;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.dental-text {
  position: absolute;
  top: 28%;
  right: 11%;
  letter-spacing: 1.8rem;
  font-size: 2.2rem;
  font-weight: 900;
  opacity: 0;
}

.yellow {
  color: $mainColorYellow;
}

.green {
  color: $mainColorGreen;
}

.red {
  color: $mainColorRed;
}

.block-top-sec {
  height: 100vh;
  background-image: url(../../img/TIHO_Web_Ingredient-67.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.opening {
  width: 100%;
  position: absolute;
  height: 50vh;
  bottom: 0;
  & > img {
    width: 100%;
    left: 0;
    top: 200vh;
    position: absolute;
  }
  h2 {
    position: fixed;
    top: 50%;
    right: 50%;
    font-size: 1.8rem;
    border-bottom: 1px solid #000;
    opacity: 0.2;
  }
}

.block {
  text-align: center;
  max-width: 1680px;
  height: 100vh; // max-height: 1050px;
}

.video-block {
  background: linear-gradient(180deg, $bgSkin 40%, $bgDeep 60%);
  position: relative;
  &-bgi {
    @extend %bgi;
    background-image: url(../../img/TIHO_Web_Ingredient-69.png);
    background-position-y: 30%;
  }
  h4.title {
    margin-bottom: 6vh;
    margin-top: 9vh;
  }
}

.opening-word-div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 1344px;
  transform: translateX(-47%);
  img {
    opacity: 0;
    width: 100%; // animation: fInOut 1.2s 0.2s 1 both;
  }
}

h4.title {
  font-size: 1.4rem;
  letter-spacing: 0.6rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.appear {
  position: relative;
}

iframe,
video {
  width: 65%;
  height: 500px;
  pointer-events: none;
}

.video-file {
  img {
    position: absolute;
    &:nth-of-type(1) {
      bottom: 15%;
      left: 2%;
      width: 25%;
      animation: float4 9s 0s infinite both;
    }
    &:nth-of-type(2) {
      top: 12%;
      animation: float3 7s 0s infinite both;
    }
  }
}

.about-block {
  position: relative;
  background: linear-gradient(180deg, $bgDeep 70%, $bgLight 90%);
  &-bgi {
    @extend %bgi;
    opacity: 0;
    background-image: url(../../img/TIHO_Web_Ingredient-66.png);
  }
  & > img:first-child {
    position: absolute;
    left: 0;
    top: 10%;
    width: 80%;
  }
  h4 {
    padding-top: 4rem;
  }
}

.about {
  background-image: url(../../img/TIHO_Web_Ingredient-05.png);
  background-size: cover;
  width: 80%;
  padding: 4%;
  color: #fff;
  margin: 0 auto;
}

.about-img {
  img {
    width: 10%;
    padding: 4% 2%;
  }
}

.about-text {
  padding: 2%;
  h3 {
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }
  span {
    border-bottom: 3px solid #fff;
    padding-bottom: 1.2rem;
  }
}

.content-p {
  padding-top: 2rem;
  font-size: 1.2rem;
}

.question-block {
  position: relative;
  background: linear-gradient(180deg, $bgLight 30%, $bgSkin 40%);
  &-bgi {
    opacity: 0;
    background-image: url(../../img/TIHO_Web_Ingredient-50.png);
    @extend %bgi;
  }
  h4 {
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
}

.opt-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px solid #555555;
  background-color: #bbbbbb;
  margin: 0 0.4rem;
  &:hover {
    cursor: pointer;
  }
  &#question-1,
  &#compare-1,
  &#rules-1,
  &#team-1 {
    border-color: #bbb;
    background-color: #555;
  }
}

.option-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  & > div {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0 2rem;
  }
  .devided-line {
    border-right: 2px solid #000;
    padding: 2px;
    height: 20px;
  }
}

.question .option-text {
  .option-1 {
    margin-left: 1rem;
  }
}

.question-content {
  text-align: center;
  > div {
    margin: 0 auto;
    max-width: 50%;
  }
  ol {
    list-style: inside decimal;
  }
  li {
    margin-bottom: 0.5rem;
  }
  .option-2 {
    display: none;
  }
  .content-p {
    line-height: 1.5rem;
    letter-spacing: 1px;
    text-align: left;
  }
}

.compare-block {
  // background-image: url(../../img/TIHO_Web_Ingredient-51.png);
  background: linear-gradient(180deg, $bgSkin 90%, $bgDeep 97%);
  &-bgi {
    @extend %bgi; // background-color: $bgSkin;
    position: initial;
  }
  img {
    width: 100%;
    max-width: 1680px;
    position: absolute;
    height: 35%;
    left: 0;
    top: -12%;
  }
  h4 {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }
  p {
    position: relative;
    z-index: 1;
  }
}

.compare-table {
  width: fit-content;
  margin: 2.5rem auto 0rem;
  text-align: left;
  table {
    width: 80%;
    margin: 0 auto;
  }
}

thead {
  th {
    padding: 12px;
  }
}

th {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

tbody {
  tr {
    border-bottom: 1px solid #bbb;
    &:last-child {
      border: none;
    }
  }
  th {
    padding-right: 48px;
  }
  td {
    font-size: 1.2rem;
    padding: 24px 0px 24px 12px;
  }
}

.rules-block {
  color: #fff;
  position: relative;
  background: linear-gradient(180deg, $bgDeep 90%, $bgLight 99%);
  &-bgi {
    padding-top: 2rem;
    @extend %bgi;
    background-image: url(../../img/TIHO_Web_Ingredient-10.png);
    opacity: 0;
    > img {
      position: absolute;
      transform: translateX(-50%);
      &:first-child {
        width: 85%;
        left: 50%;
        opacity: 0.2;
        top: -20%;
      }
      &:nth-child(2) {
        width: 0%;
        top: -20%;
      }
      &:nth-child(3) {
        width: 100%;
        top: -20%;
        opacity: 0.8;
        z-index: 2;
      }
    }
  }
  h4 {
    margin-top: 2vh;
  }
  .option-text {
    width: 98%;
  }
  .devided-line {
    border-color: #fff;
  }
  img.option-2 {
    display: none;
  }
}

.d-row {
  display: flex;
  flex-direction: row;
}

.f-40 {
  flex: 40;
}

.f-50 {
  flex: 50;
}

.f-60 {
  flex: 60;
}

.pie-chart {
  text-align: left;
  position: relative;
  img {
    width: 72%;
    padding-left: 6rem;
    padding-top: 20px;
    padding-bottom: 15vh;
  }
}

.rules .option-text {
  .option-1 {
    margin-left: 3rem;
  }
}

.rules-content {
  > div {
    margin: 0 auto;
    width: 70%;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .option-1 > div:first-child,
  .option-2 > div:first-child {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
  .option-2 {
    display: none;
  }
  .content-p {
    div:nth-child(2) {
      padding-top: 20px;
    }
  }
}

.pub-sale {
  border: 1px solid #fff;
  border-radius: 30px;
  position: absolute;
  width: fit-content;
  padding: 2.5px 6px;
  top: 18px;
  right: 0;
  > img {
    vertical-align: middle;
    margin-right: 8px;
    width: 28px;
  }
  &-card {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    &-inner {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      height: 25vh;
      width: 55vw;
      background-color: #fff;
      color: #000;
      text-align: center;
      h5 {
        margin-top: 8vh;
      }
      > img {
        width: 24px;
        position: absolute;
        top: 12px;
        right: 12px;
      }
    }
  }
}

.overflow-rules {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 50vh;
  left: 0;
}

.map-block {
  background: linear-gradient(180deg, $bgLight 50%, $bgSkin 50%);
  &-bgi {
    @extend %bgi; // background: linear-gradient(180deg, $bgLight 50%, $bgSkin 50%);
  }
}

.map-bgi {
  width: 85%;
  margin: auto;
  background-image: url(../../img/TIHO_Web_Ingredient-33.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
  text-align: center;
  img {
    transform: scale(0.85);
    position: relative;
    left: 2%;
  }
}

.team-block {
  h4 {
    margin-bottom: 2rem;
  }
  .option-title {
    z-index: 2;
    position: relative;
  }
  .option-text {
    margin-bottom: 0;
    .option-1 {
      padding-left: 0rem;
    }
  }
  .team-content {
    position: relative;
    .content-p {
      width: 80%;
      margin: auto;
      height: 480px;
      overflow-y: scroll;
      padding-top: 5vh;
      margin-top: 1.6rem;
      text-align: center;
    }
    .option-2 {
      display: none;
    }
    > img {
      position: absolute;
      height: 180px;
      width: 100%;
      transform: translateX(-50%);
      &:nth-of-type(1) {
        top: -10vh;
        z-index: 1;
      }
      &:nth-of-type(2) {
        bottom: -5vh;
      }
    }
  }
  .thum {
    width: 12%;
    margin: 12px;
    display: inline-flex;
    flex-direction: column;
    img {
      width: 100%;
      filter: sepia(40%);
    }
    p {
      font-size: 14px;
    }
  }
  .empty-height {
    height: 100px;
  }
}

.bottom-block {
  position: relative;
  background: linear-gradient(180deg, $bgSkin 70%, #404d61 90%);
  > div {
    h4 {
      letter-spacing: 1px;
      width: 70%;
      margin: 0 auto;
      position: relative;
    }
    > img {
      width: 100%;
      margin-top: -7%;
    }
  }
}

footer {
  position: absolute;
  bottom: 2rem;
  color: #fff;
  width: 100%;
  > div {
    justify-content: space-between;
    margin: 0 4%;
  }
}

.email {
  letter-spacing: 2px;
  margin: auto 0;
  img {
    vertical-align: middle;
    width: 30px;
    padding: 0 20px;
  }
}

.icon {
  img {
    width: 48px;
    margin-left: 20px;
  }
}

@media (min-width: 1680px) {
  .block-fixed {
    img {
      &:nth-child(2),
      &:nth-child(3) {
        left: 1580px;
      }
    }
  }
  .block-top {
    background-size: 1680px;
  }
  .menu {
    ul {
      left: 1230px;
      max-width: 450px;
    }
  }
  iframe,
  video {
    height: 600px;
  }
  .question-block {
    background-position-y: 105%;
  }
  .rules-block {
    padding-bottom: 16rem;
    > img {
      &:nth-child(2) {
        top: -37%;
        height: 40%;
      }
    }
  }
  .team-block {
    .team-content {
      .content-p {
        width: 75%;
      }
    }
  }
}

@media (max-width: 1280px) {
  iframe,
  video {
    height: 480px;
  }
  .rules-block {
    > img {
      &:nth-child(2) {
        top: -55%;
      }
    }
  }
  .map-bgi {
    img {
      transform: scale(0.75);
      position: relative;
      left: -2%;
      bottom: 45px;
    }
  }
}

@media (max-width: 1024px) {
  .rules-block {
    > img {
      &:nth-child(2) {
        top: -39%;
      }
    }
  }
}

@media (max-width: 768px) {
  .phone-appear {
    display: initial;
  }
  .non-phone-appear {
    display: none;
  }
  .block-fixed {
    > img:nth-child(2),
    img:nth-child(3) {
      left: 86vw;
      width: 30px;
      margin-top: 20px;
    }
  }
  .menu {
    ul {
      width: 80vw;
      left: 20vw;
    }
    li {
      padding-top: 4vh;
    }
  }
  .lang {
    margin-top: 2vh;
  }
  .join {
    top: 91.2vh;
    img {
      &:first-child {
        width: 14px;
      }
      &:nth-child(2) {
        width: 225px;
      }
    }
  }
  .block-top {
    background-image: url(../../img/TIHO_Web_Phone-14-1.png);
    background-size: 109%;
    background-position-x: center;
    > img {
      margin-top: 5rem;
      width: 25%;
    }
  }
  .block-top-sec {
    background-image: url(../../img/TIHO_Web_Phone-14.png);
    background-size: 109%;
    background-position-x: center;
  }
  .dental-text {
    top: 15%;
    right: 5%;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .large-img {
    .floating-word {
      height: 1200px;
      img {
        top: 2%;
      }
    }
  }
  .time-count {
    ul > li {
      font-size: 2rem;
      margin: 18% 3% 2%;
      &:last-child {
        padding-left: 6%;
      }
    }
    p {
      font-size: 0.8rem;
    }
  }
  .video-opening {
    height: 120px;
    img {
      top: -100%;
    }
  }
  h4.title {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    padding-top: 32px;
    margin-bottom: 20px;
  }
  .video-block {
    h4.title {
      margin-bottom: 20px;
    }
    &-bgi {
      background-image: url(../../img/TIHO_Web_Phone-18.png);
    }
  }
  iframe,
  video {
    height: 175px;
    width: 85%;
    position: relative;
    top: 120px;
    pointer-events: initial;
  }
  .video-file {
    img {
      &:nth-of-type(1) {
        bottom: -140%;
        width: 53%;
        left: 10%;
      }
      &:nth-of-type(2) {
        left: 80%;
        width: 15%;
      }
    }
  }
  .about {
    width: 72%;
    &-bgi {
      background-image: url(../../img/TIHO_Web_Phone-17.png);
    }
  }
  .about-img {
    width: 70%;
    margin: auto;
    img {
      width: 40%;
    }
  }
  .about-text {
    padding: 8px;
    h3 {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 28px;
    }
    p {
      letter-spacing: 0;
      line-height: 0.9rem;
      font-size: 12px;
    }
  }
  .content-p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
    line-height: 1.1rem;
    padding-top: 1vh;
  }
  .option-text {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    > div {
      font-size: 16px;
      letter-spacing: 0px;
      padding: 0 12px;
    }
    .devided-line {
      height: 8px;
    }
  }
  .question-block-bgi {
    background-image: url(../../img/TIHO_Web_Ingredient-54-3.png);
  }
  .question-content {
    > div {
      max-width: 80%;
    }
    .content-p {
      line-height: 1.1rem;
      &.option-1 {
        margin-right: 12px;
      }
    }
    ol {
      list-style-position: outside;
    }
    li {
      margin-bottom: 0.5vh;
      line-height: 0.9rem;
    }
    .option-2 {
      height: 50vh;
      overflow-y: scroll;
    }
  }
  .compare-block {
    z-index: 1;
    .phone-appear {
      position: relative;
      z-index: 1;
    }
    .option-text {
      letter-spacing: 1px;
      text-align: left;
      > div {
        font-size: 13px;
        &:first-child {
          padding-right: 0;
          padding-left: 2px;
        }
      }
    }
    &-bgi > div:last-child {
      width: 75%;
      margin: auto;
      text-align: left;
    }
  }
  .compare-table {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0px auto;
    text-align: left;
    .option-2 {
      display: none;
    }
    th {
      padding-right: 24px;
      font-size: 14px;
      letter-spacing: 0.9px;
      font-weight: 400;
    }
    td {
      font-size: 12px;
      padding: 20px 8px 10px 0px;
      opacity: 0.8;
      font-weight: 300;
    }
  }
  .rules-block {
    padding-top: 0;
    padding-bottom: 0;
    &-bgi {
      background-image: url(../../img/TIHO_Web_Phone-13.png);
    }
    > img {
      &:nth-child(2) {
        top: -140px;
        height: 150px;
        z-index: 1;
      }
      &:nth-child(3) {
        opacity: 0.2;
        z-index: 1;
        top: -12%;
        width: 100vw;
      }
    }
    .d-sm-col-reverse {
      flex-direction: column-reverse;
    }
    .f-sm-100 {
      flex: 100;
    }
    .option-text {
      margin-top: 2vh;
      width: 100%;
      text-align: left;
      > div {
        &:first-child {
          padding-left: 20px;
          padding-right: 2px;
          margin-left: 0;
        }
        &:nth-child(3) {
          padding-left: 2px;
        }
      }
    }
    .option-title + div {
      height: 75vh;
      overflow-y: scroll;
    }
    li {
      margin-bottom: 12px;
      &.phone-appear {
        display: block;
      }
    }
  }
  .rules-content {
    .content-p {
      line-height: 1rem;
      width: 80%;
      letter-spacing: 1px;
    }
  }
  .pub-sale {
    padding: 1px 2px;
    font-size: 12px;
    letter-spacing: 0px;
    img {
      width: 14px;
      margin-right: 4px;
    }
    &-card-inner {
      width: 85vw;
      padding: 0 4px;
      h5 {
        margin-bottom: 12px;
        margin-top: 4vh;
      }
    }
  }
  .pie-chart img {
    width: 75%;
    padding-left: 3rem;
    padding-top: 0;
    &:nth-child(3) {
      left: 10%;
    }
  }
  .map-bgi {
    background-image: url(../../img/TIHO_Web_Ingredient-54-phone.png);
    background-size: 150%;
    width: 100%;
    img {
      transform: scale(1);
      width: 90%;
      top: 45px;
      margin-bottom: 150px;
    }
  }
  .team {
    .thum {
      width: 25%;
      display: inline-block;
      margin: 6px;
    }
  }
  .team-block {
    .team-content {
      .content-p {
        height: 70vh;
      }
      > img {
        height: 70px;
        &:nth-of-type(1) {
          top: -5vh;
        }
      }
    }
  }
  .bottom-block {
    > div {
      > img {
        margin-top: 17vh;
      }
      h4 {
        width: 100%;
        margin: 8vh auto;
        position: absolute;
        padding-top: 0;
      }
    }
  }
  footer {
    background-color: #404d61;
    padding-bottom: 20px;
  }
  .d-sm-col {
    flex-direction: column;
  }
  .email {
    margin-bottom: 24px;
    p {
      font-size: 14px;
    }
    img {
      width: 24px;
    }
  }
  .icon img {
    width: 36px;
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .join {
    top: 94vh;
  }
  .block-top {
    background-position-y: 100%;
    > img {
      width: 20%;
    }
  }
  .dental-text {
    top: 30%;
    letter-spacing: 0.6rem;
    font-size: 1.6rem;
  }
  iframe,
  video {
    height: 360px;
  }
  .question-block-bgi {
    background-image: url(../../img/TIHO_Web_Ingredient-50.png);
  }
  .question-content {
    .content-p {
      &.option-1,
      &.option-2 {
        max-width: 63%;
      }
    }
  }
  .map-bgi {
    background-size: contain;
    width: 115%;
    background-position-x: -6vw;
    img {
      width: 65%;
      left: -8%;
    }
  }
}

@media (max-width: 512px) {
  .opening {
    > img {
      height: 101vh;
    }
  }
}

@keyframes fInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes float1 {
  0%,
  50%,
  100% {
    opacity: 1;
    transform: translate(-50%, -3%);
  }
  25%,
  75% {
    opacity: 1;
    transform: translate(-50%, 3%);
  }
}

@keyframes float2 {
  0%,
  50%,
  100% {
    opacity: 1;
    transform: translate(-50%, -5%);
  }
  25%,
  75% {
    opacity: 1;
    transform: translate(-50%, 5%);
  }
}

@keyframes float3 {
  0%,
  50%,
  100% {
    opacity: 1;
    transform: translate(-7%, 0%);
  }
  25%,
  75% {
    opacity: 1;
    transform: translate(7%, 0%);
  }
}

@keyframes float4 {
  0%,
  50%,
  100% {
    opacity: 1;
    transform: translate(-9%, 0%);
  }
  25%,
  75% {
    opacity: 1;
    transform: translate(9%, 0%);
  }
}

@keyframes float5 {
  0%,
  50%,
  100% {
    opacity: 0;
    transform: translate(-50%, -175%);
  }
  25%,
  75% {
    opacity: 1;
    transform: translate(-50%, 5%);
  }
}

@keyframes lighterShowing {
  0%,
  50%,
  100% {
    filter: invert(0%);
  }
  25%,
  75% {
    filter: invert(25%);
  }
}
